@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:  linear-gradient(239.24deg, #FF0909 3.49%, #0578FF 109.85%, rgba(217, 217, 217, 0) 109.85%);
}
.container {
    width: 973px;
    height: 598px;
    background: linear-gradient(239.24deg, #FF0909 3.49%, #0578FF 109.85%, rgba(217, 217, 217, 0) 109.85%);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.18);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container::before {
    position: absolute;
    content: "";
    width: 130px;
    height: 130px;
    background: linear-gradient(239.24deg, #0578FF 3.49%, #FF0909 109.85%, rgba(217, 217, 217, 0) 109.85%);
    border-radius: 50%;
    top: 161px;
    left: 240px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25),
    inset 0 0 0 1px rgba(255, 255, 255, 0.226);
}
.container::after {
    position: absolute;
    content: "";
    width: 84.79px;
    height: 82.51px;
    background: linear-gradient(239.24deg, #0578FF 3.49%, #FF0909 109.85%, rgba(217, 217, 217, 0) 109.85%);
    border-radius: 50%;
    top: 378px;
    left: 642px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25),
    inset 0 0 0 1px rgba(255, 255, 255, 0.226);
}
.box {
    width: 362px;
    height: 422px;
    background: rgba(255, 255, 255, 0.116);
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    backdrop-filter: blur(5px);
    box-shadow: inset 0.1px 0 0 0.8px rgba(255, 255, 255, 0.589),
                0 4px 0  rgba(0,0,0,.18),
                inset 0 0.9px 0 0 rgba(255, 255, 255, 0.596),
                inset 0 0.8px 0 0 rgba(255, 255, 255, 0.411);
    border-radius: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box h3 {
    font-size: 40px;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 40px;
}
.input {
    width: 300px;
    height: 50px;
    padding-left: 15px;
    outline: none;
    border: none;
    margin-top: 19px;
    position: relative;
    bottom: 30px;
    border-radius: 10px;
    background: linear-gradient(rgba(221, 221, 221, 0.164), transparent);
    box-shadow: inset .5px 0 0 0.8px rgba(255, 255, 255, 0.411),
                inset 0 .6px 0 0 rgba(255, 255, 255, 0.596);
    color: white;
    backdrop-filter: blur(1px)
}
.input:focus {
    box-shadow: inset 1.5px -1.5px 0 0.8px rgba(255, 255, 255, 0.411);
}
.input::placeholder {
    color: white;
    opacity: 0.7;
}
ul {
    list-style: none;
    width: 300px;
}
ul li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
ul li:last-child {
    align-items: flex-end;
    justify-content: flex-end;
}
.box button {
    width: 90px;
    height: 40px;
    position: relative;
    top: 15px;
    left: -8em;
    outline: none;
    border: none;
    border-radius: 10px;
    background: linear-gradient(rgba(221, 221, 221, 0.164), transparent);
    box-shadow: inset .5px 0 0 0.8px rgba(255, 255, 255, 0.411),
                inset 0 .6px 0 0 rgba(255, 255, 255, 0.596),
                inset 1.5px -1.5px 0 0.8px rgba(255, 255, 255, 0.411);
    color: white;
    backdrop-filter: blur(1px);
    cursor: pointer;
}
.box button:hover {
    background: linear-gradient(rgba(221, 221, 221, 0.164), transparent);
    box-shadow: inset .5px 0 0 0.8px rgba(255, 255, 255, 0.411),
                inset 0 .6px 0 0 rgba(255, 255, 255, 0.596),
                inset -1.5px 1.5px 0 0.8px rgba(255, 255, 255, 0.411);
    color: white;
    backdrop-filter: blur(1px);
}